<div>
  <app-progress-bar [progress]="counterProgress"></app-progress-bar>
  <app-countdown
    #countdown
    [init]="totalCountdown"
    (onDecrease)="updateProgress($event)"
    (onComplete)="countdownFinished()"
  ></app-countdown>
  <div id="#complete"></div>
  <div class="initInput">
    <label for="idTotalCountdown">Init on:</label>
    <input type="text" id="idTotalCountdown" [(ngModel)]="totalCountdown" />
    <!-- o ngModel é um bidirection biding, por isso deve utilizar [()]  -->
  </div>
  <button (click)="countdown.startCountdown(); counterProgress = 0">
    Restart!
  </button>
</div>
